---
extensions:
- jpg
- png
- jpeg
---
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/{{ page.slug }}.css">
</head>

<body>
  <header>
    {% for ext in layout.extensions %}
      {% capture imagepath %}/banners/{{ page.slug }}.{{ ext }}{% endcapture %}
      {% for static_file in site.static_files %}
        {% if static_file.path == imagepath %}
          <img src="{{ site.baseurl }}{{ imagepath }}" alt="{{ page.title }}">
        {% endif %}
      {% endfor %}
    {% endfor %}
  </header>
  <main>
    {% for ext in layout.extensions %}
      {% capture imagepath %}/profiles/{{ page.slug }}.{{ ext }}{% endcapture %}
      {% for static_file in site.static_files %}
        {% if static_file.path == imagepath %}
          <img src="{{ site.baseurl }}{{ imagepath }}" alt="{{ page.title }}">
        {% endif %}
      {% endfor %}
    {% endfor %}

    <h1>{{ page.title }}</h1>

    {% for link in page.links %}
    <a href="{{ link.link }}">{{ link.name }}</a>
    {% endfor %}

    <a href="{{ site.baseurl }}">Find My Frens Home</a>

  </main>
</body>

</html>